{% from "helpers.html" import input %}
<!DOCTYPE html>
<html>
	{% include 'head.html' %}
<body class="bg">
  {% include 'menu.html' %}
		<div class="container content-wrap">
			<div class="row">
				<div class="col-sm-8 col-md-8 ">
					{% block header %}
						<div class="page-header">
							<h1>{% block title %}{{ page.title }}{% endblock title %}</h1>
						</div>
					{% endblock header %}
				</div>
				<div class="col-md-4  mb-4">
					<div class="my-sidebar" >
					{% block sidebar %}
					{% endblock sidebar %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					{% with messages = get_flashed_messages(with_categories=True) %}
						{% if messages %}
							{% for category, message in messages %}
									<div class="alert alert-{{ category }} alert-warning alert-dismissable">
									<button type="button" class="close" data-dismiss="alert">×</button>
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					{% if form and form.errors %}
						<div class="alert alert-error alert-warning">Errors occured verifying your input. Please check the marked fields below.</div>
					{% endif %}
					{% block content %}
					{% endblock content %}
				</div>
			</div>
		</div>
		{% include 'footer.html' %}
		<script type="text/javascript">
			var images = document.getElementsByTagName('img');
		  for (var i = images.length - 1; i >= 0; i--) {
		    var img = images[i];
				img.className += 'img-fluid'
		  }
			var tocs = document.getElementsByClassName('toc');
			for (var i = 0; i < tocs.length; i++) {
				 document.getElementById('toc-sidebar').appendChild(tocs[i]);
			}
			var tables = document.getElementsByTagName('table');
		  for (var i = tables.length - 1; i >= 0; i--) {
		    var table = tables[i];
				table.className += 'table table-striped'
		  }
			var ps = document.getElementsByTagName('p');
		  for (var i = ps.length - 1; i >= 0; i--) {
		    var p = ps[i];
				p.className += 'text-justify'
		  }

		  {% block postscripts %}
		  {% endblock postscripts %}
		</script>
	</body>
</html>
