{% extends "base.html" %}

{% block title %}Create a new page{% endblock title %}
{% block content %}
<form method="POST" class="form-inline">
	{{ form.hidden_tag() }}
	<div class="form-group mx-sm-3 mb-2"">
	{{ input(form.url, placeholder="URL of the new page", autocomplete="off",class="form-control") }}
	</div>
	<button type="submit" class="btn btn-success mb-2">Create</button>
</form>
{% endblock content %}

{% block sidebar %}
<p class="alert alert-success">Thank you for creating new content!</p>
{% endblock sidebar %}
