{% from "helpers.html" import input %}
<!DOCTYPE html>
<html>
	{% include 'head.html' %}
<body class="bg">
  {% include 'menu.html' %}
		<div class="container content-wrap">
			<div class="row">
				<div class="col-sm-8 col-md-8 ">
					{% block header %}
						<div class="page-header">
							<h1>{% block title %}{{ page.title }}{% endblock title %}</h1>
						</div>
					{% endblock header %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 ">
					{% with messages = get_flashed_messages(with_categories=True) %}
						{% if messages %}
							{% for category, message in messages %}
									<div class="alert alert-{{ category }} alert-warning alert-dismissable">
									<button type="button" class="close" data-dismiss="alert">×</button>
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					{% if form and form.errors %}
						<div class="alert alert-error alert-warning">Errors occured verifying your input. Please check the marked fields below.</div>
					{% endif %}
					</div>
				</div>

				<form method="post" class="form">
				{{ form.hidden_tag() }}
				<div class="row">
					<div class="col-md-6">
						{{ input(form.title, placeholder="Title", class="col-md-11", autocomplete="off") }}
						{{ input(form.tags, placeholder="Tags (comma separated)", class="col-md-11", autocomplete="off") }}
					</div>
					<div class="pull-right">
					  <button class="btn btn-danger" onclick="window.location.href='{{ url_for('wiki.display', url=page.url) }}'">Cancel</button>
					  <button  class="btn btn-success" type="submit">Save</button>
					</div>
				</div>
				<div class="row">
						<div class="col-md-6">
							{{ input(form.body, placeholder="Markdown", class="span7 col-md-11", rows="200",id="text-input", oninput="this.editor.update()") }}
						</div>
						<div class="col-md-6">
							<div id="preview"> </div>
						</div>
				</div>

			</form>
		</div>
		{% include 'footer.html' %}
		<script type="text/javascript">
			function Editor(input, preview) {
				this.update = function () {
					preview.innerHTML = markdown.toHTML(input.value);

					for (var i = images.length - 1; i >= 0; i--) {
						var img = images[i];
						img.className += "img-fluid"
					}

					var clientHeight = document.getElementById('preview').clientHeight;
					var tt = document.getElementById("preview").getBoundingClientRect().bottom;
					console.log(clientHeight,tt)
					if (tt < 200){
						tt = 200;
					}
					document.getElementById("text-input").rows = tt;

				};
				input.editor = this;
				var images = document.getElementsByTagName('img');
				this.update();
			}
			var $ = function (id) { return document.getElementById(id); };
			new Editor($("text-input"), $("preview"));

		</script>
	</body>
</html>
