<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<script type="text/javascript" src="{{ url_for('static', filename='showdown.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='markdown.min.js')}}"></script>
<script type="text/javascript">
  if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='{{ url_for('static', filename='jquery.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
  }
</script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
