<head>
	<title>{{ config.TITLE }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pygments.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<style>
		@media (min-width: 768px) {.my-sidebar {position: fixed;}}
	</style>
</head>
