{% macro input(field) -%}
	<div class="{% if field.errors %}error{% endif %} form-group">
		{% if field.type == 'BooleanField' %}
			<div class="controls">
				<div class="checkbox"><label for="{{ field.name }}" class="">
					{{ field(**kwargs) }}
					{{ field.label.text }}
				</label></div>
			</div>
		{% else %}
			<label for="{{ field.name }}" class="control-label">{{ field.label.text }}</label>
			<div class="controls">
				{{ field(**kwargs) }}
				{% if field.errors %}
					<div>
						{% for error in field.errors %}
							<span class="help-block">
								{{ error }}
							</span>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
{%- endmacro %}
