{% extends "base.html" %}

{% block title %}Page Index{% endblock title %}

{% block content %}

{% if directories %}
	<table class="table">
		<thead>
			<tr>
				<th>SubDirectory Title</th>
			</tr>
		</thead>
		<tbody>
			{% for dir in directories %}
				<tr>
					<td><a href="{{ url_for('wiki.display', url=dir.url) }}">{{ dir.title }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>There are no directories yet.</p>
{% endif %}

{% if pages %}
	<table class="table">
		<thead>
			<tr>
				<th>Page Title</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			{% for page in pages %}
				<tr>
					<td><a href="{{ url_for('wiki.display', url=page.url) }}">{{ page.title }}</a></td>
					<td><a href="{{ url_for('wiki.display', url=page.url) }}">{{ page.url }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>There are no pages yet.</p>
{% endif %}
{% endblock content %}

{% block sidebar %}
	<h3>Actions</h3>
  <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('wiki.create') }}'">New Page</button>
  <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('wiki.tags') }}'">Tag List</button>
{% endblock sidebar %}
