

	<div class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		<div class="container">
		<a class="navbar-brand" href="{{ url_for('wiki.home') }}">{{ config.TITLE }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="navbar-nav mr-auto">
				<ul class="nav navbar-nav">
					<li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.home') }}">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.index') }}">Index</a></li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.tags') }}">Tags</a></li>
					<li class="divider-vertical"></li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.create') }}">New Page</a></li>
					<li class="divider-vertical"></li>
					<li></li>
				</ul>
<!--
						<ul class="nav pull-right navbar-nav">
							{% if current_user.is_anonymous %}
								<li><a href="{{ url_for('wiki.user_login') }}">Login</a></li>
							{% else %}
								<li><a href="{{ url_for('wiki.user_logout') }}">Logout</a></li>
							{% endif %}
-->
				</ul>
					<form class="form-inline my-2 my-lg-0" method="POST" action="{{ url_for('wiki.search') }}">
						<input class="form-control mr-sm-2" id="term" name="term" type="text" placeholder="Search" {% if search is defined %} value="{{ search }}" {% endif %} aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
			</div>
			</div>
		</div>
