{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" ><h3>Are you sure?</h3></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{ page.title }}?  This cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button class="btn btn-danger"  onclick="window.location.href='{{ url_for('wiki.delete', url=page.url) }}'">Yes, delete.</button>
      </div>
    </div>
  </div>
</div>
	{{ page }}
{% endblock content %}

{% block sidebar %}
{% if page.tags %}
<h3>Tags</h3>
  <ul>
      {% for tag in page.tags.split(',') %}
        <li><a href="{{ url_for('wiki.tag', name=tag.strip()) }}">{{ tag|trim }}</a></li>
      {% endfor %}
  </ul>
{% endif %}

	<h3>Actions</h3>
  <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('wiki.edit', url=page.url) }}'">Edit</button>
  <button type="button" class="btn btn-dark" onclick="window.location.href='{{ url_for('wiki.move', url=page.url) }}'">Move</button>
  <button class="btn btn-danger text-error"  data-toggle="modal" data-target="#confirmDelete" >Delete</button>

  <h3>Index</h3>
  <div id="toc-sidebar">
  </div>
{% endblock sidebar %}
